.timeline-container {
    margin: 1rem;
}

.timeline {

}

.timeline-item {
    fill: #000000;
    stroke: #000000;
    stroke-width: 1px;
}

.timeline-item--command {
    fill: #1E90FF;
}

.timeline-item--event {
    fill: #FFA500;
}

.timeline-item--text {
    fill: #000000;
    font-size: 0.5rem;
}

.timeline-axis {
    stroke: #000000;
    stroke-width: 1px;
}

.timeline-bar {
    stroke: #000000;
    stroke-width: 1px;
}

.timeline-bar-text {
    fill: #000000;
    user-select: none
}

.timeline-brush-bar {
    stroke: #FF0000;
    stroke-width: 0.25rem;
    pointer-events: none;
}

.timeline-brush {
    fill: #FF0000;
    fill-opacity: 0.25;
    pointer-events: none;
}
